body
{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    background-color: #fff;
    min-height: 1000px;
    max-width: 1000px;
    width: 100%;    
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container .left_side
{
    position: relative;
    background-color: blueviolet;
    padding: 10px;
}
.profiletext 
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    font-size: 10px;
}
.profiletext .imgbx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow:hidden;
}
.profiletext .imgbx img
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} 
.profiletext h2
{
color: rgb(245, 238, 238);
font-size: 1.5em;
margin-top: 10px;
text-align: center;
font-weight: 600;
line-height: 1.4em;
border-bottom: 1px solid rgb(213, 244, 244);
}
.info
{
    padding-top: 1px;
}
.title
{   
    color: yellow;
    letter-spacing: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.info ul
{
    position: relative;
}
.info ul li
{
    position: relative;
    list-style: none;
    margin: 10px;
}
.info ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: gold;
}
.info ul li span
{
    color: white;
}
.info.education li
{
    margin-bottom: 15px;
}
.info.education h5
{
    color: gold;
    font-size: 15px;
    font-weight: 500;
}
.info.education h4
{
    color: white;
    font-weight: 500;
}
.info.languages h4
{
    color: white;
    font-weight: 500;
}
.info.basic h4
{
    color: white;
    font-weight: 500;
}
.container .right_side
{
    position: relative;
    background-color:  #fff;
    padding: 40px;
}
.right_side p
{
    font-size: 20px;
}
.about
{
    margin-bottom: 20px;
}
.about h5
{
    margin: 1px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    letter-spacing: 1px;
    margin-bottom: 0%;
}
p
{   
    color: #3c3232;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}
.about .box .company
{
    min-width: 150px;
}
.about .box .company h5
{
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4
{
    color: #2a7da2;
    font-size: 20px;
}
.about .text p
{
    font-size: 20px;
}
.skills ul 
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 40px;
}
.skills ul li
{
    list-style: none;
}
.interest ul 
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 40px;
}
.interest ul li
{
    list-style: none;
}